<nav class="navbar navbar-expand-lg navbar-light">
  <img src="/images/Image from iOS (2).jpg" width="60" height="70" class="d-inline-block align-top" alt="">
  <a class="navbar-brand">Voluntour</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create Account</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid"> 
  <img id="volunteerHands" src="/images/volunteer.png" alt="volunteer image">
  <h1> Bridging the gap between Philanthropy and Effieciency</h1>
</div>
<h3>Just A Few of Our Partners</h3>

<div class="container-fluid">
  <img src="/images/africa.png" alt="volunteer image">
  <img src="/images/common.png" alt="volunteer image">
  <img src="/images/food.jpeg" alt="volunteer image">
  <img src="/images/foodTucson.png" alt="volunteer image">
  <img src="/images/habitat.png" alt="volunteer image">
  <img src="/images/humane.png" alt="volunteer image">
  <img src="/images/pacc.png" alt="volunteer image">
  <img src="/images/pride.jpeg" alt="volunteer image">
  <img src="/images/fire.png" alt="volunteer image">
  <img src="/images/books.jpeg" alt="volunteer image">
</div>
